<template name="resetPassword">
  <div class="page-container">

  <!-- Page content -->
  <div class="page-content">

	<!-- Main content -->
	<div class="content-wrapper">
  	<div class="content">
  					<form class="login-form" id="login-form"  autocomplete="false" style="width: 20%; margin: 0 auto;">
  						<div class="panel panel-body login-form">
  							<div class="text-center">
                <img src="/folders.png" height="42" width="42" alt="" class="square responsive-img valign profile-image-login">
								<h2><b>TheCertCollector</b></h2>
                <h5 class="content-group">Reset Password<small class="display-block">Reset your password</small></h5>
  							</div>
                {{#if errorMessage}}
                  <div class="alert alert-warning err col s12">
                    {{errorMessage}}
                  </div>
                {{/if}}

  							<div class="form-group has-feedback has-feedback-left">
  								<input type="password" id="password" name="username" class="form-control" placeholder="Password">
  								<div class="form-control-feedback">
  									<i class="icon-user text-muted"></i>
  								</div>
  							</div>

  							<div class="form-group has-feedback has-feedback-left">
  								<input type="password" id="confirmPassword" name="password" class="form-control" placeholder="Confirm Password">
  								<div class="form-control-feedback">
  									<i class="icon-lock2 text-muted"></i>
  								</div>
  							</div>
                <div class="form-group">
  							<button type="button" id="btnSubmit" class="btn-login bg-blue btn-block">Submit<i class="icon-arrow-right14 position-right"></i></button>
              </div>
                <div class="form-group login-options">
  								<div class="row">
  									<div class="col-sm-6">
  										<a href="/login">Login</a>
  									</div>

  									<div class="col-sm-6 text-right">
  										<a href="/user-register">Register</a>
  									</div>
  								</div>
  							</div>
  						</div>
  					</form>
          </div>
        </div>
      </div>
  </div>
</template>
