<template name="req_cert">
  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">Request Certificate</span></h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ol class="breadcrumb">
                <li><a href="/dash"><i class="icon-home2 position-left"></i> Home</a></li>
                <li class="active">Request Certificate</li>
            </ol>

            <ul class="breadcrumb-elements">
                <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear position-left"></i>
                        Settings
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-lock"></i> Profile Settings</a></li>
                        <li><a href="#"><i class="icon-statistics"></i> Account Settings</a></li>
                        <li><a href="#"><i class="icon-accessibility"></i> Security</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Page header -->
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Basic layout-->
          <form class="form-horizontal formValidate" id="formValidate" method="get" action="">
              <div class="panel panel-flat">
                <div class="panel-heading">

                <div class="panel-body">
                    <fieldset class="content-group">
                      <div class="form-group">
                        <label class="control-label col-md-3">Choose company*</label>
                        <div class="col-md-6">

                      <select class="select browser-default" id="certComp" required name="certComp" data-error=".errorTxt6">
                        <option value="" disabled selected>Choose company to request from</option>
                          {{#with AllCompanies}}
                              {{#each this}}
                              <option value="{{this._id}}" class="company" id="company">{{this.companyName}}</option>
                              {{/each}}
                          {{/with}}
                          </select>

                    </div>
                    <div class="col-md-3">
                      <button type="button" href="/add-co" id="btnAddCo" class="btn-small btn-primary right submit" name="action">Add New <i class="icon-plus3 position-right"></i></button>
                    </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3">Company's Email*</label>
                        <div class="col-md-9">
                            <input id="cemail" type="email" required class="form-control" name="cemail" data-error=".errorTxt2" placeholder="Company's Email">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3">Select Coverage</label>
                        <div class="col-md-9 multi-select-full">
                          <select class="multiselect" multiple="multiple" id="coverage" placeholder="Coverage" required>

                            {{#each getCoverageType}}
                              <option value="{{this.key}}">{{this.value}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12">
                              <p><b>Note:</b></p>
                              <p>Please verify that the above information is correct. Once the upload
                                  button is clicked, the file will be uploaded and notified. If the
                                  coverage values are too low, you may adjust the values to reflect
                                  the needed coverage limits. If such a change is made, the requestor
                                  will be notified.
                              </p>
                          </div>
                      </div>
                    </fieldset>
                    <br/>

                  <div class="text-right">
                      <button type="submit" class="btn-small btn-primary center submit" name="action">Submit<i class="icon-arrow-right14 position-right"></i></button>
                      <button class="btn-small btn-primary center submit" type="button" name="action">Reset<i class="icon-reset position-right"></i></button>
                    </div>
                </div>
              </div>
                </div>
            </form>
            <!-- /basic layout -->
        </div>
      </div>
    </div>
  </div>
  <!-- Main content -->
</template>
