<template name="add_co">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><span class="text-semibold">Add Company</span></h4>
      </div>
    </div>

    <!-- <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Settings
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Profile Settings</a></li>
            <li><a href="#"><i class="icon-statistics"></i> Account Settings</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Security</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
  <!-- /page header -->
  <div class="content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <!-- Basic layout-->
        <form class="form-horizontal formValidate" id="formAddCompany"  method="POST" autocomplete="false">
          <div class="panel panel-flat">
            <div class="panel-heading">
              <!-- <center><h5 class="panel-title">Add Company</h5></center> -->

             <div class="panel-body">
                <fieldset class="content-group">

                 <div class="form-group">
                    <label class="control-label col-lg-3">Company Name*</label>
                    <div class="col-lg-9">
                        <input id="uname" name="Cname" required class="form-control" placeholder="Company Name" type="text" data-error=".errorTxt1">
                    </div>
                  </div>

                 <div class="form-group">
                    <label class="control-label col-lg-3">First Name *</label>
                    <div class="col-lg-9">
                      <input id="curl" type="text" name="cfName"  class="form-control" placeholder="First Name" required data-error=".errorTxt5">
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">Last Name *</label>
                    <div class="col-lg-9">
                    <input id="curl" type="text" name="clName" class="form-control" placeholder="Last Name" required data-error=".errorTxt5">
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">Primary E-Mail *</label>
                    <div class="col-lg-9">
                    <input id="cemail" type="email" required class="form-control" placeholder="Primary Name" name="cemail" data-error=".errorTxt2">
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-3">Phone *</label>
                    <div class="col-lg-9">
                    <input id="cphone" type="text" required class="form-control" placeholder="Phone" name="cphone" data-error=".errorTxt2">
                  </div>
                  </div>

                </fieldset>
                <br/>

               <div class="text-center">
                  <button type="submit" class="btn btn-primary btn waves-effect waves-light right submit" name="action">Save<i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
          </div>
            </div>
        </form>
        <!-- /basic layout -->

     </div>
    </div>
</div>
</template>
