<!-- notifications-dropdown -->
<template name="navmenu">
  <ul class="right hide-on-med-and-down">
    <li>
    <a href="javascript:void(0);" class="waves-effect waves-block waves-light navmenu-button" data-activates="navmenu-dropdown">

    <div class="uname">{{LoginUserName}}</div>
    <i class="mdi-navigation-arrow-drop-down right"></i>
    </a>
    </li>
  </ul>

  <ul id="navmenu-dropdown" class="dropdown-content">
    <li><a href="/profile"><i class="mdi-action-face-unlock"></i> Profile</a>
        </li>
        <li><a href="#"><i class="mdi-action-settings"></i> Settings</a></li>
        <li><a href="/help"><i class="mdi-communication-live-help"></i> Help</a></li>

        <li class="divider"></li>

        {{#if currentUser}}
            <li>
                <a href="{{pathFor route='login'}}" class="logout" id="logout"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
            </li>
        {{else}}
            <li>
                <a href="{{pathFor route='user-register'}}">Register</a>
            </li>
            <li>
                <a href="{{pathFor route='login'}}">Login</a>
            </li>
        {{/if}}
  </ul>

</template>