<template name="register">
	<div class="login-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content" style="padding-bottom:0">
					<!-- Advanced login -->
					<form id="register-form" method="POST" autocomplete="false">
						<div class="panel panel-body login-form" style="margin:  0;">
							<div class="text-center">
								<img src="/folders.png" height="55" width="55" alt="" class="square responsive-img valign profile-image-login">
								<h2><b>TheCertCollector</b></h2>
								<h5 class="content-group">Create Your Account</h5>
							</div>

							{{#if errorMessage}}
				          <div class="alert alert-warning err">
				            {{errorMessage}}
				          </div>
				      {{/if}}

							<div class="row">
								<div class="col-md-12">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="email" class="form-control" placeholder="Your email" tabindex="1">
										<div class="form-control-feedback">
											<i class="icon-mention text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="password" name="pass" class="form-control" placeholder="Password" tabindex="2">
										<div class="form-control-feedback">
											<i class="icon-user-lock text-muted"></i>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="password" name="cpass" class="form-control" placeholder="Confirm password" tabindex="3">
										<div class="form-control-feedback">
											<i class="icon-user-lock text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="content-divider text-muted form-group"><span>Basic Information</span></div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="fname" class="form-control" placeholder="First name" tabindex="4">
										<div class="form-control-feedback">
											<i class="icon-user-check text-muted"></i>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="lname" class="form-control" placeholder="Last Name" tabindex="5">
										<div class="form-control-feedback">
											<i class="icon-user-check text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="cname" class="form-control" placeholder="Company Name" tabindex="6">
										<div class="form-control-feedback">
											<i class="icon-user-check text-muted"></i>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group has-feedback has-feedback-left">
										<input type="tel" name="phone" class="input-medium bfh-phone form-control" data-format="+1 (ddd) ddd-dddd" placeholder="Phone" tabindex="7">
										<div class="form-control-feedback">
											<i class="icon-user-check text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="content-divider text-muted form-group"  tabindex="8"><span>Select a Plan</span></div>

							{{> hello}}

							<!--
							<div class="row">
								<div class="col-md-12">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="billaddress" class="form-control" placeholder="Billing Address" maxlength="30">
										<div class="form-control-feedback">
											<i class="icon-office text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="addline2" class="form-control" placeholder="Line 2" maxlength="25">
										<div class="form-control-feedback">
											<i class="icon-office text-muted"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="billcity" class="form-control" placeholder="City" maxlength="20">
										<div class="form-control-feedback">
											<i class="icon-office text-muted"></i>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="billstate" class="form-control" placeholder="State" maxlength="2">
										<div class="form-control-feedback">
											<i class="icon-office text-muted"></i>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group has-feedback has-feedback-left">
										<input type="text" name="billzip" class="form-control" placeholder="Zipcode" maxlength="10">
										<div class="form-control-feedback">
											<i class="icon-office text-muted"></i>
										</div>
									</div>
								</div>
							</div>
						-->

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<span class="help-block text-center no-margin">By creating an account, you're confirming that you've read and agree to our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a>.</span>
									</div>
								</div>
							</div>

							<div class="text-right form-group has-feedback has-feedback-left">
								<button type="submit" class="btn-link"><i class="icon-arrow-left13 position-left"></i><a href="/login">Back to login form</a></button>
								<button type="submit" name="submit" class="btn-reg bg-green-400 btn-labeled btn-labeled-right ml-10"  tabindex="9"><b><i class="icon-plus3"></i></b> Create Account</button>
							</div>
						</div>
					</form>
					<!-- /advanced login -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
</template>

<template name="hello">
		<div class="row">
				<div class="col-md-6">
					<div class="form-group has-feedback has-feedback-left">
						<button type="button" id="free" class="btn-free bg-danger-400 btn-float btn-float-lg">
							<i class="icon-person"></i>
							<span>
									<center><b>Free Plan</b>
										<hr>
										<p>Only 5 Companies</p>
										<p>Completely Free</p>
									</center>
								</span>
						</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group has-feedback has-feedback-left">
						<button type="button" id="pro" class="btn-pro bg-success-400 btn-float btn-float-lg">
							<i class="icon-office"></i>
							<span>
								<center><b>Pro Plan</b>
									<hr>
									<p>Unlimited Companies</p>
									<p>Only $12.50/Month</p>
								</center>
							</span>
						</button>
					</div>
				</div>
			</div>

</template>
