<template name="dash">
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content sidebar-xs has-detached-left">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><span class="text-semibold">Dashboard</span></h4>
                        </div>
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                        </ul>

                        <ul class="breadcrumb-elements">
                            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    Settings
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-lock"></i> Profile Settings</a></li>
                                    <li><a href="#"><i class="icon-statistics"></i> Account Settings</a></li>
                                    <li><a href="#"><i class="icon-accessibility"></i> Security</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /Page header -->

                <!-- Content area -->
                <div class="content">
                    <!-- Detached sidebar -->
                    <div class="sidebar-detached">
                        <div class="sidebar sidebar-default sidebar-separate">
                            <div class="sidebar-content">
                                <!-- User details -->
                                <div class="content-group">
                                    <div class="panel-body bg-indigo-400 border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
                                        <div class="content-group-sm">
                                            <span class="media-heading text-semibold">{{LoginUserName}}</span>
                                            <span class="display-block">General Contractor</span>
                                        </div>

                                        <a href="#" class="display-inline-block content-group-sm">
                                            <img src="assets/images/placeholder.jpg" class="img-circle img-responsive" alt="" style="width: 110px; height: 110px;">
                                        </a>
                                    </div>

                                    <div class="panel no-border-top no-border-radius-top">
                                        <ul class="navigation">
                                            <li class="navigation-header">Navigation</li>
                                            <li class="active"><a href="#profile" data-toggle="tab"><i class="icon-files-empty"></i> Profile</a></li>
                                            <li><a href="#schedule" data-toggle="tab"><i class="icon-files-empty"></i> Company Overview</a></li>
                                            <li><a href="#messages" data-toggle="tab"><i class="icon-files-empty"></i> Policy Overview<span class="badge bg-warning">5 Pending</span></a></li>
                                            <li><a href="#orders" data-toggle="tab"><i class="icon-files-empty"></i> Settings</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /user details -->

                                <!-- Latest Events -->
                                <div class="sidebar-category">
                                    <div class="category-title">
                                        <span>Latest Events</span>
                                        <ul class="icons-list">
                                            <li><a href="#" data-action="collapse"></a></li>
                                        </ul>
                                    </div>

                                    <div class="category-content">
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-left">
                                                    <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-folder-upload2"></i></a>
                                                </div>

                                                <div class="media-body">
                                                    <a href="#">NicoDev</a> has a new<span class="text-semibold">Certificate</span> ready for your review.
                                                    <div class="media-annotation">2 hours ago</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-left">
                                                    <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-mail5"></i></a>
                                                </div>

                                                <div class="media-body">
                                                    You requested a new <span class="text-semibold">General Liability</span> certificate from <a href="#">NicoDev</a>.
                                                    <div class="media-annotation">March 18, 18:36</div>
                                                </div>
                                            </li>

                                            <li class="media">
                                                <div class="media-left">
                                                    <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-stack-plus"></i></a>
                                                </div>

                                                <div class="media-body">
                                                    You added a new company: <a href="#">NicoDev</a>.
                                                    <div class="media-annotation">Dec 12, 05:46</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /latest updates -->

                            </div>
                        </div>
                    </div>
                    <!-- /detached sidebar -->

                    <!-- Detached Content Container -->
                    <div class="container-detached">
                        <!-- Detached Content -->
                        <div class="content-detached">
                            <!-- Tab content -->
                            <div class="tab-content">
                                <!-- Profile Overview Tab -->
                                <div class="tab-pane fade in active" id="profile">
                                    <!-- Policy Summary-->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Policy Summary</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row text-center">
                                                <div class="col-xs-4">
                                                    <p><i class="icon-notification2 icon-2x display-inline-block text-warning"></i></p>
                                                    <h5 class="text-semibold no-margin">3</h5>
                                                    <span class="text-muted text-size-small">Pending</span>
                                                </div>

                                                <div class="col-xs-4">
                                                    <p><i class="icon-checkmark-circle icon-2x display-inline-block text-success"></i></p>
                                                    <h5 class="text-semibold no-margin">10</h5>
                                                    <span class="text-muted text-size-small">Active</span>
                                                </div>

                                                <div class="col-xs-4">
                                                    <p><i class=" icon-cancel-circle2 icon-2x display-inline-block text-danger"></i></p>
                                                    <h5 class="text-semibold no-margin">5</h5>
                                                    <span class="text-muted text-size-small">Expired</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Policy Summary -->

                                    <!-- Profile Info -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Profile Info</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            {{#with currentUser}}
                                            <div class="form-group mt-5">
                                                <label class="text-semibold">Full name:</label>
                                                <span class="pull-right-sm">{{LoginUserName}}</span>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-semibold">Company Name:</label>
                                                <span class="pull-right-sm">{{this.profile.cname}}</span>
                                            </div>

                                            <div class="form-group">
                                                <label class="text-semibold">Phone number:</label>
                                                <span class="bfh-phone pull-right-sm" data-format="+1 (ddd) ddd-dddd" data-number="{{this.profile.phone}}">{{this.profile.phone}}</span>
                                            </div>

                                            <div class="form-group no-margin-bottom">
                                                <label class="text-semibold">Personal Email:</label>
                                                <span class="pull-right-sm"><a href="{{this.profile.email}}">{{this.profile.email}}</a></span>
                                            </div>
                                            {{/with}}
                                        </div>
                                    </div>
                                    <!-- /Profile Info -->

                                    <!-- Account Activity -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Account Activity</h5>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <ul class="list-feed list-feed-solid">
                                                <li class="border-warning-400">
                                                    <a href="#">NicoDev</a> has a pending certificate.
                                                </li>

                                                <li class="border-info-400">
                                                    <a href="#">Christopher Wallace</a> uploaded a certificate.
                                                </li>

                                                <li class="border-pink-400">
                                                    <strong>Eample Policy</strong> has expired for <a href="#">NicoDev</a>
                                                </li>

                                                <li class="border-slate-600">
                                                    You have requested a new certificate from <a href="#">NicoDev</a>
                                                </li>

                                                <li class="border-danger-400">
                                                    <a href="#">NicoDev</a> has been <strong>added</strong> as a new company.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Account Activity-->
                                </div>
                                <!-- /Profile Overview Tab -->

                                <!-- Company Overview Tab -->
                                <div class="tab-pane fade" id="schedule">
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">All Companies</h5>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        {{>companyTable}}
                                    </div>
                                </div>
                                <!-- /Company Overview Tab -->

                                <!-- Policy Overview Tab -->
                                <div class="tab-pane fade" id="messages">
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">Policy Overview</h5>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <table class="table table-bordered table-hover datatable-highlight">
                                            <thead>
                                                <tr>
                                                    <th>Company Name</th>
                                                    <th>Policy Name</th>
                                                    <th>Coverage</th>
                                                    <th>Start Date</th>
                                                    <th>Expiration Date</th>
                                                    <th>Status</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>NicoDev</td>
                                                    <td><a href="#">Cool Policy</a></td>
                                                    <td>General Liability</td>
                                                    <td>22 Jun 2017</td>
                                                    <td>22 Jun 2018</td>
                                                    <td><span class="label label-success">Active</span></td>
                                                    <td class="text-center">
                                                        <ul class="icons-list">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="icon-menu9"></i>
                                                                </a>

                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                                    <li><a href="#"><i class="icon-file-word"></i> Email</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>NicoDev</td>
                                                    <td><a href="#">Cool Policy</a></td>
                                                    <td>General Liability</td>
                                                    <td>22 Jun 2017</td>
                                                    <td>22 Jun 2018</td>
                                                    <td><span class="label label-danger">Expired</span></td>
                                                    <td class="text-center">
                                                        <ul class="icons-list">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="icon-menu9"></i>
                                                                </a>

                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                                    <li><a href="#"><i class="icon-file-word"></i> Email</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>NicoDev</td>
                                                    <td><a href="#">Cool Policy</a></td>
                                                    <td>General Liability</td>
                                                    <td>22 Jun 2017</td>
                                                    <td>22 Jun 2018</td>
                                                    <td><span class="label label-warning">Pending</span></td>
                                                    <td class="text-center">
                                                        <ul class="icons-list">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="icon-menu9"></i>
                                                                </a>

                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
                                                                    <li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
                                                                    <li><a href="#"><i class="icon-file-word"></i> Email</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /highlighting rows and columns -->
                                </div>
                                <!-- /Policy Overview Tab -->

                                <!-- Account Settings Tab -->
                                <div class="tab-pane fade" id="orders">
                                    <!-- Profile info -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Profile information</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <form id="updateProfile" method="POST" autocomplete="false">
                                                {{#with currentUser}}
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>First Name</label>
                                                            <input type="text" name="fname" value="{{this.profile.fname}}" class="form-control">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Last Name</label>
                                                            <input type="text" name="lname" value="{{this.profile.lname}}" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Email</label>
                                                            <input type="text" name="email" value="{{this.profile.email}}" class="form-control">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Phone #</label>
                                                            <input type="text" name="phone" value="{{this.profile.phone}}" class="form-control input-medium" data-country="US">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Address line 1</label>
                                                            <input type="text" name="billaddress" value="{{this.profile.billaddress}}" class="form-control">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Address line 2</label>
                                                            <input type="text" name="addline2" value="{{this.profile.addline2}}" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>City</label>
                                                            <input type="text" name="billcity" value="{{this.profile.billcity}}" class="form-control">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>State/Province</label>
                                                            <input type="text" name="billstate" value="{{this.profile.billstate}}" class="form-control">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>ZIP code</label>
                                                            <input type="text" name="billzip" value="{{this.profile.billzip}}" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="display-block">Upload profile image</label>
                                                            <input type="file" class="file-styled">
                                                            <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right">
                                                    <button type="submit" name="submit" class="btn-small btn-primary">Save<i class="icon-arrow-right14 position-right"></i></button>
                                                </div>
                                                {{/with}}
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /profile info -->

                                    <!-- Account settings -->
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Account settings</h6>
                                            <div class="heading-elements">
                                                <ul class="icons-list">
                                                    <li><a data-action="collapse"></a></li>
                                                    <li><a data-action="reload"></a></li>
                                                    <li><a data-action="close"></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <form id="updateAccount" method="POST" autocomplete="false">
                                                {{#with currentUser}}
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Email</label>
                                                            <input type="email" value="{{this.profile.email}}" readonly="readonly" class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Current password</label>
                                                            <input type="password" name="currentPass" id="currentPass" placeholder="password" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>New password</label>
                                                            <input type="password" id="newPass" placeholder="Enter new password" class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Repeat password</label>
                                                            <input type="password" id="newPassAgain" placeholder="Repeat new password" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right">
                                                    <button type="submit" class="btn-small btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                                                </div>
                                                {{/with}}
                                            </form>
                                        </div>
                                    </div><!-- /account settings -->

                                </div>
                                <!-- /Account Settings Tab-->

                            </div>
                            <!-- /Tab Content -->
                        </div>
                        <!-- /Detatched Content -->
                    </div>
                    <!-- /Detached Content Container -->
                </div>
                <!-- /Content Area -->
            </div>
            <!-- /Main Content -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
</template>

<template name="companyTable">
    {{> tabular table=TabularTables.companyList selector=actSelector class="table datatable-html"}}
</template>
