<template name="login">
<div class="page-container">
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="content">
				<!-- Login Form-->
				<form class="login-form" id="login-form"  autocomplete="false" >
					<!-- Login Panel-->
					<div class="panel panel-body login-form">
						<div class="text-center">
							<img src="/folders.png" height="42" width="42" alt="" class="square responsive-img valign profile-image-login">
							<h2><b>TheCertCollector</b></h2>
							<p class="center login-form-text">Online Document Management System</p>
							<br/>
						</div>
						{{#if errorMessage}}
							<div class="alert alert-warning err col s12">
								{{errorMessage}}
							</div>
						{{/if}}

						<div class="form-group has-feedback has-feedback-left">
							<input type="text" id="username" name="username" class="form-control" placeholder="Username">
							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input type="password" id="password" name="password" class="form-control" placeholder="Password">
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" data-loading-text="Please wait..." class="btn-login bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
						</div>

						<div class="form-group login-options">
							<div class="row">
								<!-- <div class="col-sm-6">
									<label class="checkbox-inline">
										<input type="checkbox" class="styled" checked="checked">
										Remember
									</label>
								</div>-->

								<div class="col-sm-12 text-center">
									<a href="\forgot-password">Forgot password?</a>
								</div>
							</div>
						</div>

						<div class="content-divider text-muted form-group"><span>or sign in with</span></div>
						<ul class="list-inline form-group list-inline-condensed text-center">
							<button id="login-with-facebook" type="button" class="loginBtn loginBtn--facebook">
							Login with Facebook
							</button>
						</ul>

						<div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
						<a href="\user-register" class="btn-login btn-success btn-block content-group">Sign up</a>
						<span class="help-block text-center no-margin">By continuing, you're confirming that you've read and agree to our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a>.</span>
					</div>
					<!-- /Login Panel-->
				</form>
				<!-- /Login Form -->
			</div>
			<!-- /Content -->
		</div>
		<!-- /Main content -->
	</div>
	<!-- /Page content -->
</div>
</template>
