<template name="App_body">
	<!--{{> Template.dynamic template=main}}-->

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top bg-success-400">
		<div class="navbar-header">
			<a id="logo-container" class="navbar-brand text-semibold .text-size-large" href="/dash">
				<i class="icon-traffic-lights position-left text-white"></i>The Cert Collector
			</a>
			{{#if currentUser}}
			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
			{{/if}}
		</div>

		{{#if currentUser}}
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						{{#with currentUser}}
							{{#if this.profile.imageurl}}
							<img src="{{this.profile.imageurl}}" style="width: 30px;">
							{{else}}
							<img src="/avatar.jpg" alt="" style="width: 36px;">
							{{/if}}
						{{/with}}
						<span>{{LoginUserName}}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="/profile"><i class="icon-user-plus"></i> My profile</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
						<li><a href="/help"><i class="icon-cog5"></i> Support</a></li>
						<li><a href="#" class="logout" id="logout"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		{{/if}}
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main sidebar -->
		{{#if currentUser}}
		<div class="sidebar sidebar-main sidebar-fixed" style="height:940px;">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								{{#with currentUser}}
									{{#if this.profile.imageurl}}
									<a href="#" class="media-left"><img src="{{this.profile.imageurl}}" class="img-circle img-sm" alt=""></a>
									{{else}}
									<a href="#" class="media-left"><img src="/avatar.jpg" class="img-circle img-sm" alt=""></a>
									{{/if}}
								{{/with}}
								<div class="media-body">
									<span class="media-heading text-semibold">{{LoginUserName}}</span>
									<div class="text-size-mini text-muted">
										<!-- <i class="icon-pin text-size-small"></i> -->
											&nbsp;{{Userrole}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


				<!-- Main navigation -->

				<div class="sidebar-category sidebar-category-visible">
					<div class="category-content no-padding">
						<ul class="navigation navigation-main navigation-accordion">
							<!-- Main -->
							<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
							<li><a href="{{pathFor 'App.home'}}"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
							<li><a href="{{pathFor 'activep'}}"><i class="icon-office"></i> <span>Active Companies</span></a></li>
							<li><a href="{{pathFor 'archp'}}"><i class="icon-office"></i> <span>Archived Companies</span></a></li>
							<li><a href="{{pathFor 'App.add_co'}}"><i class="icon-add"></i> <span>Add Company</span></a></li>
							<li><a href="{{pathFor 'App.req-cert'}}"><i class="icon-copy"></i> <span>Request Certificate</span></a></li>
							<li><a href="{{pathFor 'App.audit'}}"><i class="icon-copy"></i> <span>Audit</span></a></li>
							<!-- /main -->
						</ul>
					</div>
				</div>

				<!-- /main navigation -->
			</div>
		</div>
		{{/if}}
		<!-- /main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			{{> yield}}
			<!-- /detached content -->
			<!-- Footer -->
			<div class="footer text-muted">
				&copy; 2016. <a href="#">The CertCollector</a>
			</div>
			<!-- /footer -->
		</div>

		<!-- /content area -->
		</div>
		<!-- /page content -->
	</div>
	<!-- /page container-->
</template>
