<template name = "overall">
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">General Aggregate</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Product/Completed Operational Aggregate</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Per Occurence</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Fire Legal Liability</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Personal/Advertising Injury</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Medical Payments</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Deductible</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Per Project Agg</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Per Location Agg</label>
        </div>
      </div>
      <div class="row">
         <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Occurence Vs. Claims</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Employers Liability</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Worker's Comp</label>
        </div>
      </div>
      <div class="row">
         <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Combined Single Limit</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Split Limit</label>
        </div>
        <div class="input-field col s4">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Medical Payments</label>
        </div>
      </div>
    </form>
  </div>
</template>