<template name="audit">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><span class="text-semibold">Audit</span></h4>
      </div>
    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="/dash"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active">Audit</li>
      </ul>

      <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i> Settings
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Profile Settings</a></li>
            <li><a href="#" id="accSettings"><i class="icon-statistics"></i> Account Settings</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Security</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /Page header -->

  <!--start container-->
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Audit Form -->
        <form class="form-horizontal formAudit" id="formAudit" method="get" action="">
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h5 class="panel-title">Specify Audit Details Below</h5>
            </div>
            <div class="panel-body">
              <fieldset class="content-group">
                <div class="form-group">
                  <div class="col-md-3">
                    <select class="select" id="company" required name="company">
                          <option value="-1" selected>Select Company</option>
                          {{#each allCompany}}
                          <option value="{{this._id}}" tabindex="1">{{this.companyName}}</option>
                          {{/each}}
                        </select>
                  </div>
                </div>
              </fieldset>
              <fieldset class="content-group">
                <div class="form-group">
                  <div class="col-md-3">
                    <select class="select" id="coverage" required name="coverage" tabindex="2">
                          <option value="" disabled selected>Coverage type</option>
                          {{#each getCoverageType}}
                          <option value="{{this.key}}">{{this.value}}</option>
                          {{/each}}
                        </select>
                  </div>
                  <div class="col-md-2">
                    <input type="date" class="form-control datepicker" id="startDate" tabindex="3">
                  </div>
                  <div class="col-md-2">
                    <input type="date" class="form-control datepicker" id="endDate" tabindex="4">
                  </div>
                  <div class="col-md-2">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="email" name="email" tabindex="5">
                    Email
                  </label>

                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn-small btn-primary right submit" name="action" tabindex="6">Start Audit<i class="icon-arrow-right14 position-right"></i></button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
        <!-- /Audit Form -->
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Audit Results</h5>
      </div>
      {{> policyTable}}
    </div>
  </div>
</template>

<template name="policyTable">
  {{> tabular table=TabularTables.policyList selector=selector class="table display table-striped table-bordered table-hover dataTable no-footer"}}
</template>
