<template name="forgetPassword">
  <div class="page-container">

  		<!-- Page content -->
  		<div class="page-content">

  			<!-- Main content -->
  			<div class="content-wrapper">

  				<!-- Content area -->
  				<div class="content">

  					<!-- Password recovery -->
  					<form class="login-form">
  						<div class="panel panel-body login-form">
  							<div class="text-center">
  								<img src="/folders.png" height="42" width="42" alt="" class="square responsive-img valign profile-image-login">
									<h2><b>TheCertCollector</b></h2>
  								<h5 class="content-group">Forgot Password<small class="display-block">You can reset your password</small></h5>
  							</div>
                {{#if errorMessage}}
                  <div class="alert alert-warning err col s12">
                    {{errorMessage}}
                  </div>
                {{/if}}

  							<div class="form-group has-feedback">
  								<input type="email" id="email" class="form-control" placeholder="Your email">
  								<div class="form-control-feedback">
  									<i class="icon-mail5 text-muted"></i>
  								</div>
  							</div>
                <div class="form-group">
  							<button type="button" id="btnSubmit" class="btn-login bg-blue btn-block">Submit <i class="icon-arrow-right14 position-right"></i></button>

							</div>
                <div class="form-group login-options">
  								<div class="row">
  									<div class="col-sm-6">
  										<a href="/login">Login</a>
  									</div>

  									<div class="col-sm-6 text-right">
  										<a href="/user-register">Register</a>
  									</div>
  								</div>
  							</div>

  						</div>
  					</form>
  					<!-- /password recovery -->


  				</div>
  				<!-- /content area -->

  			</div>
  			<!-- /main content -->

  		</div>
  		<!-- /page content -->

  	</div>
</template>
